@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to your BookStore.</h1>

<AuthorizeView>
    <Authorized>
        <h2>Pick an option on the side to view a BOOK or an AUTHOR.</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Please REGISTER or LOGIN by clicking an option on the sidebar.</h2>
    </NotAuthorized>
</AuthorizeView>
